
video {

  object-fit: cover;

  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}

.App {
  margin: 0;
    background-color: rgba(255, 255, 255, 0.5);

}
.gallery{
  display:flex;
flex-wrap: wrap;
width:100%;
justify-content:center;
align-items: center;

}

.content{
width:20%;
margin:15px;
float:left;
text-align: center;
border-radius: 20px;
cursor:pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25),
0 10px 10px rgba(0,0,0,0.22);
transition: .4s;
background: #f2f2f2;
}

.content:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform:translate(0px, -8px)
}

.mainImage{
  width:200px;
  height:200px;
  text-align: center;
  margin:0 auto;
  display: block;
}

p{
  text-align: center;
  
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #D5E5D5;
  box-shadow: inset 0px 0px 0px 4px #1F7D53;
  
  }

  .list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0;
    list-style: none;
  }

  li{
    background-color: #D5E5D5;
    margin:2px;
    padding-top:5px;
   
  }

  h1,h2.ul,p{
    font-family: "Open Sans", sans-serif;
  }

  h2{
    color:#EC5228;
    background-color: #EFEFEF;
    
    padding:10px;
  }
 
  .icon{
    width: 30px;
  }

  .buttonSearch {
    border-radius: 12px;
    border: none;
    background-color: #1F7D53;
    margin-right:15px;
    margin-top: 15px;
    }

    .buttonShow{
      font-size: 15px;
      margin-top: 10px;
      border: none;
      background-color: #1F7D53;
      padding:15px;
      border-radius: 12px;
      color:#fff;
    }
   
    .typeDish{
      color:#1F7D53;
      font-weight: bold;
    }

    @media(max-width:1000px) {
      .content{
        width:50%;
      }
    }

    @media(max-width:750px){
      .content{
        width:100%;
      }
    }